div {
    border: solid 1px #C3C3C3;
    width: 481px;
    border-radius: 3px;
}
table {
    margin: 3px 3px;
    max-height: 50px;
    overflow-y: auto;
}

th {
    font-weight: normal;
    text-shadow: 2px 2px 1px #000;
}

thead tr {
    background-color: #3F51B5;
    color: #FFF;
}

tbody {
    max-height: 50px;
    overflow-y: auto;
}

tbody td {
    text-align:center;    
}

tbody tr:hover {
    background-color: #F5F5F5;
}

tbody tr {
    border-bottom: solid 1px #000;
}

.edit {
    margin-right: 10px;
}

    .edit > i {
        color: #D9CD26;
        text-shadow: 2px 2px 3px #C3C3C3;
    }

.delete > i {
    color: #E35E6B;
    text-shadow: 2px 2px 3px #C3C3C3;
}