<mat-card class="product-crud mat-elevation-z3">
    <mat-card-title>Remover Produto</mat-card-title>
    <form>
        <mat-form-field>
            <input disabled matInput placeholder="Nome" [value]="product.name" />
        </mat-form-field>
        <mat-form-field>
            <input disabled matInput placeholder="Valor (R$)" [value]="product.price" />
        </mat-form-field>
    </form>
    <p>Deseja realmente excluir este produto?</p>
    <button class="primary" mat-button-raised (click)="deleteProduct()">Excluir</button>
    <button class="default" mat-button-raised (click)="cancel()">Cancelar</button>
</mat-card>
